* {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #5f738b;
  color: white;
}

header {
  height: 6vh;
}

footer {
  height: 4vh;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

.black {
  color: black;
}

.dark-blue {
  color: #5f738b;
}

.lighter-gray {
  color: #f2f2f2;
}

.light-gray {
  color: #a5a4a4;
}

.gray {
  color: #7c7c7c;
}

.dark-gray {
  color: #5f6368;
}

.pink {
  color: #ecd2d3;
}

.not-clickable:hover {
  cursor: unset;
}

input::placeholder {
  color: #f2f2f2;
}

.header-month-year {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.left-arrow-button,
.right-arrow-button {
  border-radius: 4px;
  color: white;
  font-size: 24px;
  padding: 0.5rem;
}

.left-arrow-button:hover,
.right-arrow-button:hover {
  border: 2px solid white;
}

.day-of-week {
  font-size: 14px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.calendar-squares {
  margin-bottom: 1.5rem;
}

.square {
  box-sizing: content-box;
  height: 3rem;
}

.date {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 24px;
  border-radius: 50%;
  padding: 0;
}

.date.travel-1 {
  color: #7299fd;
}

.date.travel-2 {
  color: #4f7673;
}

.date.travel-3 {
  color: #d64c4c;
}

.date.travel-4 {
  color: #5f6368;
}

.date.current-day {
  background-color: #5f738b;
  color: white;
}

.selected {
  border: 3px solid #49596d;
}

.calendar-date-weather-heading {
  display: none;
  align-items: center;
  padding: 0 1rem;
}

.calendar-date-weather-icon {
  width: 26px;
}

.calendar-date-weather-temp {
  color: #5f738b;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem;
}

.calendar-date-destination {
  font-size: 12px;
}

.calendar-date-destination.travel-1 {
  color: #7299fd;
}

.calendar-date-destination.travel-2 {
  color: #4f7673;
}

.calendar-date-destination.travel-3 {
  color: #d64c4c;
}

.calendar-date-destination.travel-4 {
  color: #5f6368;
}

.travel-modal-container,
.event-modal-container {
  background-color: rgba(41, 41, 41, 0.75);
}

.travel-modal-form,
.event-modal-form {
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: 60vh;
}

.modal-header {
  border-bottom: 1px solid #a5a4a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 3rem;
}

.travel-button,
.event-button {
  font-size: 18px;
}

.travel-modal-body {
  padding: 3rem 1.5rem;
}

.modal-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.modal-prompt {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.modal-icon {
  width: 39px;
}

.modal-input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  margin: 0 1rem;
  width: 100%;
  height: 30px;
}

button.modal-selected {
  border: 3px solid #1a73e8;
}

.event-modal-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.75rem;
}

button.event-modal-view {
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 0.25rem 0.35rem;
  margin: 0 0.125rem;
}

button.event {
  background-color: #5f738b;
}

button.birthday {
  background-color: #d64c4c;
}

button.hangout {
  background-color: #c6e6fb;
}

button.meeting {
  background-color: #9dacb9;
}

.event-modal-body {
  padding: 0 1rem;
}

.event-modal-time-input {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 1rem;
  width: 100%;
  height: 30px;
}

.event-modal-time {
  background-color: #f2f2f2;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

.day-banner {
  background-color: #9dacb9;
  color: white;
  height: 6vh;
  padding: 0 1.5rem;
}

.date-info {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.date-info-date {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.date-info-holiday {
  font-weight: 400;
  font-size: 10px;
  margin: 0;
}

.date-weather {
  display: flex;
  align-items: center;
  height: 3rem;
}

.date-weather-icon {
  width: 36px;
}

.date-weather-main-temp {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0.5rem;
}

.date-weather-side-temp {
  font-size: 12px;
}

.checklist-div {
  background-color: #fafcff;
}

.checklist-div > ul {
  padding: 0 1rem;
}

.event-text-div {
  display: flex;
  align-items: center;
}

.event-radio-button {
  width: 20px;
  height: 20px;
  border: 1px solid #e5e3e6;
  border-radius: 50%;
}

.event-text {
  font-size: 14px;
  margin-left: 0.5rem;
}

.event-time-edit-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.event-time {
  color: #888;
  font-size: 14px;
}

.event-edit {
  width: 32px;
  height: 32px;
  padding: 0;
}

.add-buttons {
  display: flex;
  justify-content: center;
}

.add-event,
.add-travel {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 1rem;
}

.add-event {
  background-color: #afc5b9;
  color: white;
  font-size: 24px;
}

.add-travel {
  background-color: #c8b2d2;
}

@media (min-width: 1250px) {
  header {
    height: 8vh;
  }

  footer {
    height: 5vh;
  }

  .day-of-week {
    font-size: 24px;
  }

  .square {
    height: 13.06vh;
    border: 1px solid #c8c8c8;
  }

  .square.travel-1 {
    border: 1px solid #7299fd;
    box-shadow: inset 0 0 1px 1px #7299fd;
  }

  .square.travel-2 {
    border: 1px solid #4f7673;
    box-shadow: inset 0 0 1px 1px #4f7673;
  }

  .square.travel-3 {
    border: 1px solid #d64c4c;
    box-shadow: inset 0 0 1px 1px #d64c4c;
  }

  .square.travel-4 {
    border: 1px solid #5f6368;
    box-shadow: inset 0 0 1px 1px #5f6368;
  }

  .calendar-date-weather-heading {
    display: flex;
  }

  .checklist-div {
    height: 94vh;
  }
}
