* {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #5f738b;
  color: white;
}

header {
  height: 6vh;
}

footer {
  height: 4vh;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

.black {
  color: black;
}

.dark-blue {
  color: #5f738b;
}

.lighter-gray {
  color: #f2f2f2;
}

.light-gray {
  color: #a5a4a4;
}

.dark-gray {
  color: #5f6368;
}

.pink {
  color: #ecd2d3;
}

.not-clickable:hover {
  cursor: unset;
}

.travel-modal-container {
  background-color: rgba(41, 41, 41, 0.75);
}

.travel-modal-form {
  background-color: white;
  border-radius: 30px;
  width: 80%;
  height: 60vh;
}

.travel-modal-header {
  border-bottom: 1px solid #a5a4a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
}

.travel-button {
  font-size: 18px;
}

.travel-modal-body {
  padding: 3rem 1rem;
}

.travel-modal-question {
  font-size: 24px;
  font-weight: 500;
}

.travel-modal-prompt {
  display: flex;
  align-items: center;
}

.travel-modal-icon {
  width: 39px;
}

.travel-modal-input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  margin: 0 1rem;
  width: 100%;
  height: 30px;
}

.travel-modal-input::placeholder {
  color: #f2f2f2;
}

.header-month-year {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.left-arrow-button,
.right-arrow-button {
  border-radius: 4px;
  color: white;
  font-size: 24px;
  padding: 0.5rem;
}

.left-arrow-button:hover,
.right-arrow-button:hover {
  border: 2px solid white;
}

.day-of-week {
  font-size: 14px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.calendar-squares {
  margin-bottom: 1.5rem;
}

.square {
  box-sizing: content-box;
  height: 3rem;
}

.date {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 24px;
  border-radius: 50%;
  padding: 0;
}

.current-day {
  background-color: #5f738b;
  color: white;
}

.selected {
  border: 3px solid #49596d;
}

.calendar-date-weather-heading {
  display: none;
  align-items: center;
  padding: 0 1rem;
}

.calendar-date-weather-icon {
  width: 26px;
}

.calendar-date-weather-temp {
  color: #5f738b;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem;
}

.day-banner {
  background-color: #9dacb9;
  color: white;
  height: 6vh;
  padding: 0 1.5rem;
}

.date-info {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.date-info-date {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.date-info-holiday {
  font-weight: 400;
  font-size: 10px;
  margin: 0;
}

.date-weather {
  display: flex;
  align-items: center;
  height: 3rem;
}

.date-weather-icon {
  width: 36px;
}

.date-weather-main-temp {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0.5rem;
}

.date-weather-side-temp {
  font-size: 12px;
}

.checklist-div {
  background-color: #fafcff;
}

.add-buttons {
  display: flex;
  justify-content: center;
}

.add-event,
.add-travel {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 1rem;
}

.add-event {
  background-color: #afc5b9;
  color: white;
  font-size: 24px;
}

.add-travel {
  background-color: #c8b2d2;
}

@media (min-width: 1250px) {
  header {
    height: 8vh;
  }

  footer {
    height: 5vh;
  }

  .day-of-week {
    font-size: 24px;
  }

  .square {
    height: 13.27vh;
    border: 1px solid #c8c8c8;
  }

  .square.travel-1 {
    border: 1px solid #7299fd;
  }

  .square.travel-2 {
    border: 1px solid #4f7673;
  }

  .square.travel-3 {
    border: 1px solid #d64c4c;
  }

  .square.travel-4 {
    border: 2px solid #5f6368;
  }

  .calendar-date-weather-heading {
    display: flex;
  }

  .checklist-div {
    height: 94vh;
  }
}
