* {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #5f738b;
  color: white;
}

footer {
  height: 32px;
}

button {
  border: none;
  background-color: inherit;
}

.black {
  color: black;
}

.light-gray {
  color: #a5a4a4;
}

.header-month-year {
  font-weight: 400;
  font-size: 24px;
}

.left-arrow-button,
.right-arrow-button {
  border-radius: 4px;
  color: white;
  font-size: 24px;
  padding: 0.5rem;
}

.left-arrow-button:hover,
.right-arrow-button:hover {
  cursor: pointer;
  border: 2px solid white;
}

.day-of-week {
  font-size: 14px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.calendar-squares {
  margin-bottom: 1.5rem;
}

.square {
  box-sizing: content-box;
  height: 3rem;
}

.date {
  height: 3rem;
  width: 90%;
  font-size: 24px;
}
